h1{
  color:RosyBrown ;
  font-size: 40px;
  font-style:Georgia;
  font-family:serif;
  width: 25%;
  margin:20px auto;
}

.hech1{
  text-align: center;
}

.picha{
  padding:40px

}

body{background-color: Black;
  width: auto;
  font-family: sans-serif;
  font-style: normal;

}

.bigbox{
  color:Honeydew;
  background-color:Black;
  text-align: center;
  padding: 60px;
  font-size:30px
}

.list{
  text-align: center;
  padding:10px;
}

ul li{
  display: inline-block;
  margin: 0px 30px;
}

.projects{
  display: block;
  margin-top:130px;
}

h2{
  color:RosyBrown;
  font-style:Lucida;
  font-size: 30px;
}
