h1{
  color: White;
  font-size: 40px;
  font-style:Georgia;
  font-family:serif;
  width: 20%;
  margin:20px auto;
}

.hech1{
  text-align: center;
}

body{background-color: Black;
  width: auto;
  font-family: sans-serif;
  font-style: normal;

}

.bigbox{
  color:Orchid;
  background-color:Black;
  padding: 30px;
  font-size:40px
}

.list{
  text-align: center;
  padding:10px;
}

ul li{
  display: inline-block;
  margin: 0px 30px;
}

.projects{
  display: block;
  margin-top:130px;
}

h2{
  color: White;
  font-style:Lucida;
  font-size: 30px;
}
